.CodeHighlight__code {
  @apply bg-slate-800 text-slate-200 rounded-md p-4 my-2;
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  line-height: 1.53;
  font-size: 13px;
  overflow-x: auto;
  tab-size: 2;
  white-space: pre;
}

.CodeHighlight__tokenAttr {
  color: #07a;
}
.CodeHighlight__tokenProperty {
  color: #905;
}
.CodeHighlight__tokenSelector {
  color: #690;
}
.CodeHighlight__tokenComment {
  color: slategray;
}
.CodeHighlight__tokenFunction {
  color: #dd4a68;
}
.CodeHighlight__tokenOperator {
  color: #9a6e3a;
}
.CodeHighlight__tokenVariable {
  color: #e90;
}
.CodeHighlight__tokenPunctuation {
  color: #999;
}