.ListTheme__ul {
  padding: 0;
  margin: 0;
  list-style-position: outside;
}

.ListTheme__ol {
  list-style-type: decimal; 
}

.ListTheme__listItem {
  display: list-item;
  margin: 0 32px;
  list-style-position: outside;
}

ul .ListTheme__listItem {
  list-style-type: disc;
}

ol .ListTheme__listItem {
  list-style-type: decimal;
}

.ListTheme__nestedListItem {
  list-style-type: none !important;
}


.ListTheme__ol1 {
  padding: 0;
  margin: 0;
  list-style-position: outside;
}
.ListTheme__ol2 {
  padding: 0;
  margin: 0;
  list-style-type: upper-alpha;
  list-style-position: outside;
}
.ListTheme__ol3 {
  padding: 0;
  margin: 0;
  list-style-type: lower-alpha;
  list-style-position: outside;
}
.ListTheme__ol4 {
  padding: 0;
  margin: 0;
  list-style-type: upper-roman;
  list-style-position: outside;
}
.ListTheme__ol5 {
  padding: 0;
  margin: 0;
  list-style-type: lower-roman;
  list-style-position: outside;
}